<div class="container mat-elevation-z8">
  <form action="" class="form">
    <h1>Cadastro de técnico</h1>
    <img
      src="https://raw.githubusercontent.com/ValdirCezar/helpdesk-front/master/src/assets/img/tecnico-create.svg"
      alt=""
      class="full-width"
    />
    <section class="section">
      <mat-checkbox (click)="addPerfil(0)" class="margin" color="primary"
        >Administrador</mat-checkbox
      >
      <mat-checkbox (click)="addPerfil(1)" class="margin" color="primary"
        >Cliente</mat-checkbox
      >
      <mat-checkbox (click)="addPerfil(2)" class="margin" color="primary"
        >Tecnico</mat-checkbox
      >
    </section>
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Nome</mat-label>
      <input
        [(ngModel)]="tecnico.nome"
        name="nome"
        matInput
        placeholder="Ex: Luís Gustavo"
        [formControl]="nome"
        required
        maxlength="50"
      />
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    </mat-form-field>
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>CPF</mat-label>
      <input
        [(ngModel)]="tecnico.cpf"
        name="cpf"
        matInput
        placeholder="Ex: 17843512333"
        [formControl]="cpf"
        required
        mask="000.000.000-00"
      />
      <mat-icon matSuffix>pin</mat-icon>
    </mat-form-field>
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Email</mat-label>
      <input
        [(ngModel)]="tecnico.email"
        name="email"
        matInput
        placeholder="Ex: luis@gmail.com"
        [formControl]="email"
        required
      />
      <mat-icon matSuffix>email</mat-icon>
    </mat-form-field>
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Senha</mat-label>
      <input
        [(ngModel)]="tecnico.senha"
        name="senha"
        type="password"
        matInput
        placeholder="Ex: 123"
        [formControl]="senha"
        required
      />
      <mat-icon matSuffix>password</mat-icon>
    </mat-form-field>
    <button
      mat-flat-button
      color="primary"
      class="full-width mat-elevation-z4"
      [disabled]="!validaCampos()"
      (click)="create()"
    >
      Cadastrar
    </button>
    <button
      mat-stroked-button
      color="warn"
      class="full-width mat-elevation-z4"
      routerLink="../"
    >
      Cancelar
    </button>
  </form>
  <p class="full-width">
    By
    <a href="https://github.com/ayanokoujifl" target="_blank">Luís Gustavo</a>
  </p>
</div>
